@media all and (max-width: 1600px) {
}

@media all and (max-width: 1440px) {
  .banner-head {
    padding: 100px 15px 0;
  }

  .banner-head p {
    font-size: 18px;
    margin: 50px auto 46px;
  }
}

@media all and (max-width: 1366px) {
  .banner-head {
    padding: 50px 15px 0;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      font-size: 56px;
    }
  }

  .comm-section {
    padding: 60px 0;
  }

  .vision-info .content-tag {
    margin-bottom: 98px;
  }

  .marqee-wrap {
    padding: 64px 0 56px;

    p {
      font-size: 48px;
    }
  }

  .footer-links {
    gap: 24px 10px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .footer-wrap {
    margin-bottom: 66px;
  }

  .dream-sec .content-tag {
    margin-bottom: 56px;
  }

  .position-sec .comm-sec-hdn {
    margin-bottom: 60px;
  }

  .acc-hdn {
    font-size: 30px;
  }

  .position-info .content-tag {
    margin-bottom: 34px;
  }

  :root {
    --input-height: 50px;
    font-size: 26px;
  }

  .form-field {
    font-size: 26px;
  }

  .position-detail-left p {
    font-size: 18px;
    margin-bottom: 42px;
  }

  .position-detail-left li {
    font-size: 18px;

    margin-bottom: 16px;
  }

  .comm-para p {
    font-size: 18px;
  }

  .comm-sec-hdn {
    font-size: 44px;
  }

  .step-sec .comm-sec-hdn {
    max-width: 830px;
    margin: 0 auto 50px;
  }

  .step-sec .content-tag {
    margin-bottom: 48px;
  }

  .step-box {
    padding: 48px 16px 50px;
    border-radius: 24px;
    position: relative;
    width: 33.333%;
  }

  .step-img {
    width: 190px;
    height: 190px;
    margin: 0 auto 60px;
  }

  .testi-box p {
    font-size: 44px;
  }

  .count-text span {
    font-size: 54px;
  }

  .count-text {
    margin-bottom: 18px;
  }

  .benefits-sec .content-tag {
    margin-bottom: 38px;
  }

  .benefits-sec .comm-sec-hdn {
    margin-bottom: 60px;
  }

  .flip-back,
  .flip-front {
    padding: 38px;
  }

  .flip-img {
    height: 243px;
  }

  .flip-box {
    height: 430px;
  }

  .flip-hdn {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .back-icon,
  .plus-icon {
    width: 36px;
    height: 36px;
    bottom: 6%;
    left: 6%;
  }

  .faq-sec .comm-sec-hdn {
    margin-bottom: 60px;
  }

  .acc-item {
    padding: 50px;
  }
}

@media all and (max-width: 1200px) {
  .vision-info {
    padding: 34px;
  }

  .team-img {
    height: 370px;
  }

  .team-info {
    bottom: 26px;
    padding: 0 26px;
  }

  .footer-wrap {
    margin-bottom: 46px;
  }

  .rights-info {
    padding: 18px;
  }

  .rights-info p {
    font-size: 16px;
  }

  .comm-sec-hdn {
    font-size: 34px;
  }

  .count-text span {
    font-size: 44px;
  }

  .flip-img {
    height: 200px;
  }

  .flip-back,
  .flip-front {
    padding: 30px;
  }

  .comm-sec-hdn {
    font-size: 30px;
  }

  .flip-hdn {
    font-size: 28px;
  }

  .step-info {
    font-size: 24px;
  }

  .flip-wrap {
    gap: 14px;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

@media all and (max-width: 990px) {
  :root {
    --input-height: 45px;
    --header-height: 65px;
  }

  .main-container {
    padding: 85px 0 41px;
  }

  .container {
    max-width: 800px;
  }

  .button {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
  }

  .vision-gradient {
    background: linear-gradient(
      102.83deg,
      #ffffff 23.18%,
      rgba(255, 255, 255, 0.2) 34.22%,
      rgba(255, 255, 255, 0.2) 52.4%,
      #ffffff 73.22%
    );
    width: 100%;
  }

  .vision-info .comm-para {
    max-width: 700px;
    opacity: 1;
  }

  .vision-wrap {
    gap: 32px;
    flex-direction: column;
  }

  .team-box span {
    opacity: 1;
    visibility: visible;
  }

  .footer-wrap {
    flex-direction: column;
    gap: 46px;
  }

  .footer-box {
    margin-top: 40px;
  }

  .content-tag {
    font-size: 12px;
    padding: 10px 28px;
    height: 36px;
  }

  .hire-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .comm-para {
      max-width: 330px;
    }

    .content-tag {
      margin-bottom: 48px;
    }
  }

  .hire-box-wrap {
    .f-row {
      gap: 74px 0;
    }
  }

  .position-detail {
    flex-direction: column;
    gap: 46px;
  }

  .position-application {
    max-width: 100%;
  }

  .submit-btn {
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }

  .flip-box {
    height: 312px;
    width: 300px;
  }

  .count-wrap {
    flex-wrap: wrap;
    gap: 60px 20px;
  }

  .count-box {
    max-width: 46%;
  }

  .testi-nav-wrap {
    position: relative;
  }

  .testi-swiper {
    .swiper-wrapper {
      margin-bottom: 64px;
    }
  }

  .acc-item {
    padding: 45px 32px;
    gap: 26px;
  }

  .faq-btn {
    width: 46px;
    height: 46px;
  }

  .acc-gradient.active .faq-btn {
    top: -8px;
  }

  .acc-gradient.active .faq-hdn {
    margin-bottom: 28px;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .banner-head h1 {
    font-size: 42px;
  }

  .comm-section {
    padding: 50px 0;
  }

  .footer-box {
    border-radius: 44px 44px 0 0;
  }

  .marqee-wrap {
    p {
      font-size: 30px;
    }
  }

  .text-gradient {
    padding-left: 7px;

    &.violet,
    &.yellow,
    &.blue {
      border-left: 2px solid;
    }
  }

  .vision-info {
    padding: 28px;
    border-radius: 20px;
  }

  .comm-sec-hdn {
    font-size: 30px;
  }

  .position-sec .comm-sec-hdn {
    margin-bottom: 56px;
  }

  .position-acc-box {
    border-radius: 20px;
    padding: 28px 28px 46px;
  }

  .position-gradient {
    border-radius: 20px;
  }

  .testi-box .content-tag {
    margin-bottom: 48px;
  }
}

@media all and (max-width: 640px) {
  .team-img {
    height: 400px;

    img {
      object-position: top;
    }
  }

  .team-member {
    margin-bottom: 18px;
  }

  .vision-info .content-tag {
    margin-bottom: 74px;
  }

  .faq-btn {
    width: 36px;
    height: 36px;
  }

  .faq-sec .content-tag {
    margin-bottom: 32px;
  }
}

@media all and (max-width: 576px) {
  .team-img {
    height: 380px;
  }

  .marqee-wrap {
    gap: 32px;
  }

  .footer-links a {
    width: 48%;
  }

  .footer-wrap {
    .logo {
      width: 154px;
    }
  }

  .social-link-box {
    width: 42px;
    height: 42px;
  }

  .acc-hdn {
    font-size: 26px;
  }

  .position-info .content-tag {
    margin-bottom: 32px;
  }

  .position-detail-left p {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .position-detail-left li {
    font-size: 16px;
  }

  .form-field {
    font-size: 24px;
  }

  .position-info {
    display: block;
  }

  .detail-btn {
    margin-top: 78px;
    font-size: 12px;
  }

  .position-detail-left li {
    padding-left: 18px;
  }

  .position-detail-left li::before {
    left: 5px;
  }

  :root {
    --input-fs-top: 12px;
  }

  .banner-head p {
    font-size: 16px;
    margin: 34px auto 66px;
  }

  .testi-box p {
    font-size: 30px;
  }

  .count-text span {
    font-size: 30px;
  }

  .flip-hdn {
    font-size: 26px;
  }

  .flip-back p {
    font-size: 18px;
  }

  .faq-hdn {
    font-size: 16px;
  }

  .faq-detail p {
    font-size: 16px;
  }

  .acc-item {
    gap: 16px;
  }

  .acc-gradient.active .faq-btn {
    top: -3px;
  }

  .acc-container {
    margin-bottom: 34px;
  }
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 359px) {
}
